{% macro battery_icon(soc, charging, warning) -%}
{% if warning -%}
static/icons/battery-warning-light.svg
{%- elif charging -%}
static/icons/battery-charging-light.svg
{%- elif soc > 90 -%}
static/icons/battery-full-light.svg
{%- elif soc > 60 -%}
static/icons/battery-high-light.svg
{%- elif soc > 30 -%}
static/icons/battery-medium-light.svg
{%- elif soc > 10 -%}
static/icons/battery-low-light.svg
{%- else -%}
static/icons/battery-empty-light.svg
{%- endif %}
{%- endmacro %}

<header class="topbar">
  <span>{{ date }} — {{ city }}</span>

  <span class="right">
    <img src="{{ battery_icon(battery_soc, is_charging, battery_warning) }}"
         class="battery-icon {% if is_charging %}charging{% endif %}"
         alt="Battery: {{ battery_soc }}%">
    {{ battery_soc }}%
  </span>
</header>

<section class="current">
  <img src="{{ url_for('static', filename='icons/' ~ (current.weather[0] | weather_icon)) }}"
       alt="Weather icon"
       class="weather-icon-lg">
  <div class="temps">
    <div class="temp-now">{{ current.temp | round | int }}{{ units_temp }}</div>
    <div class="feels-like">
      Feels like {{ current.feels_like | round | int }}{{ units_temp }}
    </div>
    <div class="wind">
      {{ current.wind_speed | round }} {{ units_wind }}
    </div>
    {% set current_precip = hourly_precip(current) %}
    {% if current_precip %}
    <div class="precip">
      {{ current_precip }} {{ units_precip }}
    </div>
    {% endif %}
    <div class="extras">
      <img src="{{ url_for('static', filename='icons/' ~ (moon_phase | moon_phase_icon)) }}"
           alt="Moon phase"
           class="icon-md">
      <img src="{{ url_for('static', filename='icons/wi-wind-beaufort-' ~ bft ~ '.svg') }}"
           alt="Wind force (BFT)"
           class="icon-md">
      <img src="{{ url_for('static', filename='icons/wi-wind-deg.svg') }}"
           alt="Wind direction"
           class="icon-md"
           style="transform: rotate({{ (current.wind_deg + 180) % 360 }}deg);">
    </div>
  </div>

  <div class="sun">
    <div>Sunrise {{ current.sunrise_local }}</div>
    <div>Sunset {{ current.sunset_local }}</div>
    <div>Daylight {{ daylight }}</div>
    <div>
      {% if uvi_occurred %}
        Max UV: {{ uvi_max }} (was at {{ uvi_time }})
      {% else %}
        Max UV: {{ uvi_max }} (at {{ uvi_time }})
      {% endif %}
    </div>
    <div>AQI: <span class="aqi-{{ aqi_value | default(0) }}">{{ aqi }}</span></div>
    <div class="tiny">
      <img src="{{ url_for('static', filename='icons/wi-refresh.svg') }}"
           alt="Last refresh"
           class="icon-sm">
      {{ last_refresh }}
    </div>
  </div>
</section>