{# ---------------------------------------------------------------------------
   Hour-by-hour forecast strip
   Context vars expected: hourly, units_temp, units_wind,
                         time_fmt, owm_icon (helper), hourly_precip (helper)
   --------------------------------------------------------------------------- #}

<div class="forecast">
  {% for h in hourly %}
    <div class="forecast-block">
      <div class="day-label">{{ h.local_time }}</div>
      <img class="icon-sm"
           src="{{ url_for('static', filename='icons/' ~ (h.weather[0] | weather_icon)) }}"
           alt="Hourly icon">
      <div class="temp">{{ h.temp | round | int }}{{ units_temp }}</div>
      <div class="wind">
        {{ h.wind_speed | round(0) }} {{ units_wind }}
        <img src="{{ url_for('static', filename='icons/wi-wind-deg.svg') }}"
             alt="Wind direction"
             class="icon-tiny"
             style="transform: rotate({{ h.wind_deg + 180 }}deg);">
      </div>
      <div class="precip">{{ hourly_precip(h) }}</div>
    </div>
  {% endfor %}
</div>