{# ---------------------------------------------------------------------------
   Multi-day forecast strip
   Context vars expected: daily, units_temp,
                         owm_icon (helper), moon_phase_icon (helper)
   --------------------------------------------------------------------------- #}

<div class="forecast">
  {% for d in daily %}
    <div class="forecast-block card">
      <div class="day-label">{{ d.weekday_short }}</div>
      <img class="icon-md"
           src="{{ url_for('static', filename='icons/' ~ (d.weather[0] | weather_icon)) }}"
           alt="Forecast icon">
      <div class="temp">
        {{ d.temp.min | round | int }}{{ units_temp }}
        /
        {{ d.temp.max | round | int }}{{ units_temp }}
      </div>
      <img class="icon-tiny"
           src="{{ url_for('static', filename='icons/' ~ (d.moon_phase | moon_phase_icon)) }}"
           alt="Moon phase">
      <div class="moon-label">{{ d.moon_phase | moon_phase_label }}</div>
      <div class="sun-details">
        <img class="icon-tiny"
             src="{{ url_for('static', filename='icons/wi-sunrise.svg') }}"
             alt="Sunrise">
        <span>{{ d.sunrise_local }}</span>
      </div>
      <div class="sun-details">
        <img class="icon icon-tiny"
             src="{{ url_for('static', filename='icons/wi-sunset.svg') }}"
             alt="Sunset">
        <span>{{ d.sunset_local }}</span>
      </div>
    </div>
  {% endfor %}
</div>